<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Hello, <b><%= @user.first_name %></b></p>
  <p>Welcome to our app, we hope you will like it.</p>
  </body>
</html>