<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello, <b><%= @user.first_name %></b></p>
<p>We got a password reset request from your account.</p>
<p>Here is the new password: <b> <%= @pass %> </b></p>
<p>Kindly Change your password after logging in.</p>
<p>Thank you.</p>
</body>
</html>