<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello, <b><%= @user.first_name %></b></p>
<p>This mail is to inform you that, your account details has been deleted from our side.</p>
<h3> We'll miss you! </h3>
</body>
</html>